body {
  margin: 0;
  font-family: Arial;
  background: #020617;
  color: #e2e8f0;
}

/* DASHBOARD */
.dashboard {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  height: 100vh;
  background: #020617;
  border-right: 2px solid #0ea5e9;
  padding: 20px;
}

.sidebar h2 {
  color: #38bdf8;
}

.sidebar button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #0ea5e9;
  background: transparent;
  color: #38bdf8;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar button:hover {
  background: #0ea5e9;
  color: black;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 15px;
}

.card {
  padding: 20px;
  border: 1px solid #0ea5e9;
  border-radius: 10px;
  text-align: center;
}

/* INPUT */
input {
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: 1px solid #0ea5e9;
  background: transparent;
  color: white;
}

/* TABLE */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #0ea5e9;
}

/* BUTTON */
button {
  cursor: pointer;
}
