body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f6fb;
}

.container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background: #0f172a;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar li {
  list-style: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar li.active,
.sidebar li:hover {
  background: #6366f1;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.topbar input {
  width: 60%;
  padding: 10px;
}

.addBtn {
  background: #6366f1;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
}

/* Cards */
.cards {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 12px;
  color: white;
}

.card p {
  font-size: 24px;
  font-weight: bold;
}

.purple { background: #6366f1; }
.green { background: #22c55e; }
.orange { background: #f59e0b; }
.blue { background: #3b82f6; }

/* Grid */
.grid {
  display: flex;
  gap: 20px;
}

.box {
  flex: 1;
  background: white;
  padding: 15px;
  border-radius: 12px;
}

/* Table */
table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Buttons */
button {
  margin-top: 5px;
  padding: 6px 10px;
  border: none;
  background: #6366f1;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
